@import '~bootstrap/scss/bootstrap.scss';

// Add To Do style:

body {
  background-color: beige;
}

.app {
  border: 2px solid black;
  border-radius: 5%;
  background-color: #A67567;
  margin: 5em auto 0 auto;
  max-width: 70vw;
  min-height: 80vh;
}

.add__container {
    position: relative;
    text-align: center;
    max-width: 80%;
    margin: 20px 10% 50px 10%;
    padding: 20px 0 20px 0;
  }
 
  .inputSection {
    position: relative;
    display: inline-table;
    margin: auto;
  }

  .todoInput {
    text-align: center;
    min-width: 30em;
    padding: 5px 0 5px 0;
    border-radius: 0%;
  }
  
  .inputElem {
    padding: 0 0 10px 0;
  }
  
  .add-btn {
    min-width: 8em;
    height: 3em;
    border-radius: 15%;
  }


.todo__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
// To Do Item Style:
.todoItem {
    background-color: #A66784;
    position: relative;
    display: inline-block;
    border: 2px solid black;
    padding: 20px 80px 20px 20px;
    margin: 50px 0 50px 25px;
    list-style-type: none; 
    height: fit-content;
    max-width: 500px;
  }
  
  .todoItem p {
    font-size: larger;
  }
  
  .todoItem--done {
    text-decoration: line-through;
  }
  
  .todoItem__btns {
    position: relative;
  }
  
  .todoItem__btns button {
    position: relative;
    float: right;
    margin: 0 5px 0 0;
  }


  .footer {
    position: relative;
    top: 20px;
    text-align: center;
  }